<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ distributor.distributorName }}</title>
        <link rel="icon" type="image/png" href="../../img/controller.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="../main.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="container-fluid text-center">
                    <div class="justify-content-md-center">

                        {# FOR EVERY NAME DISTRIBUTOR #}
                        {% for distributor in jdistributors %}

                        <div class="btn-group m-1 mt-2 mb-2 p-1">
                            <a href="{{ distributor.urlName }}"><img class="rounded-circle"
                                                                              src="../../img/{{ distributor.distributorId }}.png"
                                                                              alt="{{ distributor.distributorName }}"></a>
                            <div class="dropdown m-auto ms-2">
                                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">{{ distributor.distributorName }}</a>
                                <div class="dropdown-menu mt-3 p-0 {{ distributor.distributorId }}">

                                    {# IF THE ID ISN'T EQUAL JUST DON'T ANYTHING #}
                                    {% for game in jgames %}
                                    {% if distributor.distributorId == game.distributorId %}
                                    <a href="../videogames/{{ game.urlName }}" class="dropdown-item {{ distributor.distributorId }}-text">{{ game.gameName }}</a>
                                    {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                        </div>

                        {% endfor %}

                    </div>
                </div>
            </nav>
        </header>

        <main>
            <h1 class="p-5 text-center {{ distributor.distributorId }} {{ distributor.distributorId }}-text m-0">{{ distributor.distributorName }}</h1>
            <div class="row p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary {{ distributor.distributorId }}-2">
                <div class="col-5 px-0">
                    <img src="{{ distributor.imageUrl }}" width="100%" alt="{{ distributor.distributorName }}">
                </div>
                <div class="col-7 px-0 align-self-center">
                    <h3 class="lead p-5 {{ distributor.distributorId }}-text-2">{{ distributor.distributorName }} was founded the {{ distributor.foundationDay
                        }} in {{ distributor.foundationCity }}, nowadays counting with {{ distributor.gameStudios }} game studios. </h3>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 {{ distributor.distributorId }}">

                {# IF THE ID ISN'T EQUAL JUST DON'T ANYTHING #}
                {% for game in jgames %}

                {% if distributor.distributorId == game.distributorId %}

                <div class="col px-5 py-2">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                         style="background-image: url('{{ game.imageUrl }}'); background-size: cover; image">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h4 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold {{ game.distributorId }}-text-2">{{ game.gameName }}</h4>
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <small class="{{ game.distributorId }}-text-2">{{ distributor.distributorName }}</small>
                                </li>
                                <li class="d-flex align-items-center me-3">
                                    <small class="{{ game.distributorId }}-text-2">{{ game.releaseDate }}</small>
                                </li>
                                <li class="d-flex align-items-center">
                                    <small class="{{ game.distributorId }}-text-2"><strong class="{{ game.distributorId }}-text-2">{{ game.metacriticScore }}</strong> MetaCritic</small>
                                </li>
                            </ul>
                            <a href="../videogames/{{ game.urlName }}" class="icon-link gap-1 icon-link-hover stretched-link"></a>
                        </div>
                    </div>
                </div>

                {% endif %}

                {% endfor %}

            </div>
        </main>

        <footer class="d-flex flex-wrap justify-content-between align-items-center border-top p-2">
            <p class="col-md-4 mb-0">{{ jdeveloper.name }} - {{ jdeveloper.email }}</p>

            <a href="../index.html" class="col-md-4 d-flex align-items-center justify-content-center me-md-auto">
                <img src="../../img/controller.png" alt="Controller for main page">
            </a>

            <a class="col-md-4 mb-0 text-md-end" href="{{ jdeveloper.web }}" target="_blank">{{ jdeveloper.web }}</a>
        </footer>
    </body>
</html>